<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.app.bzpower.dao.LockDao">
	<resultMap type="com.app.bzpower.entity.LockInfo"
		id="lockMap">
		<result column="id" property="id" />
		<result column="mac" property="mac" />
		<result column="did" property="did" />
		<result column="lockName" property="lockName" />
		<result column="companyName" property="companyName" />
	</resultMap>
	
	<select id="selectLockByName" resultType="com.app.bzpower.entity.LockInfo">
		select * from lockInfo where lockName = #{lockName}
	</select>
	
	<select id="selectLockList" resultType="com.app.bzpower.entity.LockInfo">
		select * from lockInfo
	</select>
	
	

	<insert id="insertLock" parameterType="com.app.bzpower.entity.LockInfo" >
		insert into lockinfo( did, mac, lockName, companyName)
					values (#{did}, #{mac},#{lockName}, #{companyName})
	</insert>

<!--  
	<update id="updateDevice"
		parameterType="com.system.xianbozhan.entity.Device">
		
	</update>
-->	
	
	<delete id="deleteLockByName" parameterType="java.lang.String">
		delete from lockinfo where lockName = #{lockName}
	</delete>






</mapper>