<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.app.bzpower.dao.UserDao">

	<resultMap type="com.app.bzpower.entity.User"
		id="userMap">
		<result column="id" property="id" />
		<result column="userName" property="userName" />
		<result column="realName" property="realName" />
		<result column="telephone" property="telephone" />
		<result column="type" property="type" />
		<result column="jobNumber" property="jobNumber" />
		<association property="companyId" column="companyId"
			javaType="com.app.bzpower.entity.Company">
			<id column="id" property="id" />
			<result column="company" property="company" />
		</association>
	</resultMap>
	
	<select id="userLogin" parameterType="java.lang.String" resultMap="userMap">
		select * from user where telephone = #{telephone} and password = #{password}
	</select>

	<insert id="userRegister" >
		insert into user(telephone, username, realName, companyId, password, type, jobNumber)
					values (#{telephone}, #{userName},
					#{realName}, #{companyId}, #{password},#{type},#{jobNumber})
	</insert>

<!--  
	<update id="updateDevice"
		parameterType="com.system.xianbozhan.entity.Device">
		
	</update>
	
	
	<delete id="deleteDevice" parameterType="java.lang.Integer">
		delete from device where id = #{id}
	</delete>

-->




</mapper>